* {
    padding: 2px;
    margin: 2px;
    box-sizing: border-box;

}

header{
    background-color: rgba(71, 183, 239, 0.5);
    background-image: url(../img/pattern.png);
    background-size: contain;
    height: 120px;

}
#booleaner {
    color: rgb(127, 195, 255);
}
.imgsource{
    font-size:small;
}

.yellowtext{
    background-color: yellow;
}
.table-header{
    background-color: darkblue;
    color: whitesmoke;
}
.tablebluerow{
    background-color: rgb(41, 209, 255, 0.5);
}
.footertitle{
    color: gray;
}
.video1{
    height: 207px;
    width: 311px;
    color: whitesmoke;
    background-image: url(../img/monitor.jpg);
}
.video2{
    height: 207px;
    width: 311px;
    color: whitesmoke;
    background-image: url(../img/graph.jpg);
}
    
    
